<nav class="mynavbar">
  <a routerLink="/apple-component" routerLinkActive="active" ariaCurrentWhenActive="page">Apple</a>
  <a routerLink="/smartphones-tablets-component" routerLinkActive="active" ariaCurrentWhenActive="page">Смартфоны Планшеты</a>
  <a routerLink="/laptops-pc-component" routerLinkActive="active" ariaCurrentWhenActive="page">Ноутбуки и ПК</a>
  <a routerLink="/photo-audio-ps-component" routerLinkActive="active" ariaCurrentWhenActive="page">Фото Аудио PS5</a>
  <a routerLink="/tv-component" routerLinkActive="active" ariaCurrentWhenActive="page">Телевизоры</a>
  <a routerLink="/household-appliance-component" routerLinkActive="active" ariaCurrentWhenActive="page">Бытовая техника</a>
</nav>
<router-outlet></router-outlet>